.header {
    text-align: center;
    margin: 0;
    grid-column: 1 / 3;
}


.slider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    &__container {
        grid-column: 1 / 3;
        height: 460px;
        width: 460px;
        text-align: center;
        align-self: center;
        justify-content: center;
    }
    &__loading {
        font-size: 100px;
    }
    &__error {
        font-size: 60px;
        color: red;
    }
}
